@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Car Dealership Database</h1>
<form action="/car_added" method="post">
  <label for="new-make-model">Add a new Make Model</label>
  <input id="new-make-model" name="new-make-model" type="text">
  <label for="new-price">WHat is the Price</label>
  <input id="new-price" name="new-price" type="text">
  <label for="new-miles">How many Miles</label>
  <input id="new-miles" name="new-miles" type="text">
  <button type="submit">Submit</button>
</form>
